body {
  margin: 0;
}

.middle {
  /* text-align: center; */
  background-color: #ABA7CD;
  position: absolute;
}

.write_box {
  display: inline-block;
  background-color: white;
  margin-left: 15rem;
  margin-right: 15rem;
  width: 60rem;
}

.content {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 20px;
}

input[name = type] {
  background-color: gray;
  border: 0;
  width: 200px;
  height: 25px;
  margin-left: 10px;
}

input[name = title] {
  background-color: gray;
  border: 0;
  width: 350px;
  height: 25px;
  margin-left: 27px;
}

input[name = content_box] {
  background-color: gray;
  border: 0;
  width: 100%;
  height: 25rem;
}
