* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url("../img/bgcolor.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrap {
  white-space: nowrap;
  overflow-x: auto;
  height: 100%;
  position: relative;
  padding-top: 65px;
}

.middle {
  padding: 15px;
  width: 100%;
  padding-bottom: 0;
}

.board {
  display: inline-block;
}

.tag {
  margin-right: 10px;
  padding-bottom: 13px;
  width: 275px;
  position: relative;
  /* max-height: 100%; */
  display: inline-block;
  background-color: #DEDEDE;
  border-radius: 5px;
  vertical-align: top;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.scroll {
  overflow: auto;
  width: 100%;
  max-height: 620px;
  white-space: normal;
}

.content {
  background-color: white;
  width: 90%;
  height: 70px;
  margin: auto;
  text-align: left;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 13px;
}

.content:hover {
  background-color: #F5F6F7;
}

.content_btn {
  width: 100%;
  padding: 0;
  border: 0;
  background-color: inherit;
}

.content_btn:hover {
  background-color: inherit;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.valueTitle {
  font-size: 16px;
  font-weight: 500;
}

.valueNickname {
  color: gray;
}

/* .btnWrite {
  display: block;
  margin: auto;
  width: 90%;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

.btnWrite:hover {
  background-color: #5C5CC0;
  color: white;
  font-weight: 700;
  font-size: 17px;
  border-radius: 3px;
} */

.question {
  position: relative;
  max-height: 100%;
  width: 272px;
  display: inline-block;
  background-color: #DEDEDE;
  border: 0;
  border-radius: 5px;
  vertical-align: top;
}

#btnWrite {
  position: absolute;
  right: 30px;
  bottom: 15px;
}

#write {
  padding: 10px;
  border: 0;
  border-radius: 50%;
  background-color: #5C5CC0;
  cursor: pointer;
}

#add {
  width: 45px;
}
