body {
  margin: 0;
}



header {
  background-color: #5a5e8f;
  text-align: center;
  /* position: fixed; */
  height: 3rem;
}

.logo {
  margin-left: 21rem;
  display: inline-block;
  padding: 7px;
}

.logo a {
  color: #ABA7CD;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.user {
  display: inline-block;
  float: right;
  margin-right: 5px;
}

.search {
  display: inline-block;
  height: 1.8rem;
  background-color: white;
  border-radius: 2px;
}

.search_bar {
  background-color: white;
  border: 0;
  border-radius: 2px;
  width: 180px;
  resize: none;
  height: 1rem;
}

.btn {
  margin-left: -34px;
}

.btn_img {
  width: 20px;
  height: 19px;
  padding-bottom: 2px;
}

button {
  background-color: inherit;
  border: 0;
  padding: 2px;
}

button img {
  width: 35px;
  height: 33px;
  margin: 1px;
}

footer {
  background-color: #5a5e8f;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.ranking_img {
  display: inline-block;
  color: white;
  font-size: 32px;
  border-right: 1px solid gray;
}

.ranking_img img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.senior {
  display: inline-block;
  color: white;
  font-size: 32px;
  margin-left: 7rem;
}

.blank {
  display: inline-block;
  width: 18rem;
}

.junior {
  display: inline-block;
  color: white;
  font-size: 32px;
}

.btn_more {
  display: inline-block;
}

.btn_more img {
  width: 32px;
  height: 32px;
}
