* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #ABA7CD; */
}

header {
  background-color: #5C5CC0;
  height: 3em;
}

#logo {
  width: 90px;
  height: 30px;
  margin: auto;
}

#imgLogo {
  width: 90px;
  height: 30px;
  line-height: 3em;
}

input[name = search_bar] {
  border: 0;
}

button[name = btnSearch] {
  border: 0;
  padding: 0;
}

#imgSearch {
  width: 25px;
  height: 25px;
}
