body {
  background-color: #5a5e8f;
  margin: 0;
}

header {
  text-align: right;
  margin-top: 20px;
}

header button {
  border: 0;
  background-color: inherit;
  color: #C5BCD8;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  height: 35px;
}

.logo_img {
  text-align: center;
  margin-top: 35px;
}

.logo_img img {
  width: 190px;
}

.id label {
  display: block;
  color: #C5BCD8;
}

.id input {
  background-color: #73779E;
  border: 0;
}

.pw label {
  display: block;
  color: #C5BCD8;
}

.pw input {
    background-color: #73779E;
    border: 0;
}
