* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #5d58c7;
}

#logo {
  margin-top: 100px;
}

#logo_img {
  display: block;
  width: 515px;
  height: 340px;
  margin: auto;
}

#login {
  width: 350px;
  margin: auto;
  margin-top: 50px;
}

.user {
  font-size: 1.1em;
  width: 240px;
  height: 40px;
  padding-left: 10px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 8px;
  font-family: 'Sunflower', sans-serif;
}

#btnLogin {
  position: absolute;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 88px;
  font-size: 1.3em;
  margin-left: 4px;
  font-family: 'Sunflower', sans-serif;
  font-weight: bold;
}

#btnPack {
  width: 350px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.btn {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: 'Sunflower', sans-serif;
  font-weight: bold;
}

.btn:first-child {
  margin-right: 5px;
}
