body{
    background-color: #5a5e8f;
    margin: 0;
}

h1{
    font-size: 3em;
    text-align: center;
    color: #F7F7EE;
}

.SignIn{
    border: 0;
    margin: 0px;
    padding: 0px;
    height: 400px;
}

.btn{
    /* max-width: 400px; */
    width: 15rem;
    height: 15rem;
    font-size: 25px;
    background-color: #9B9AC0;
    border: 0;
    border-radius: 15px;
}

.setting{
    width: 50%;
    float: left;
}

center{
  margin-left: 5rem;
  margin-right: 5rem;
}
