* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #5C5FBA;
}

#wrap {
  background-color: #ffffff;
  text-align: center;
  width: 750px;
  padding: 50px;
  margin: auto;
}

/* h1 {
  text-align: center;
  color: #5C5FBA;
  font-size: 40px;
  margin-top: 0;
} */

#signinImg {
  display: block;
  text-align: center;
  width: 200px;
  height: 78px;
  margin: auto;
  margin-bottom: 40px;
}

#SignIn {
  width: 480px;
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

h3 {
  font-size: 14px;
  font-weight: 700;
}

#inputID {
  width: 73%;
  height: 50px;
  padding: 10px;
  font-size: 15px;
}

#btnID {
  border: 0;
  background-color: #5C5FBA;
  color: #ffffff;
  font-size: 16px;
  width: 25%;
  height: 50px;
  line-height: 50px;
  float: right;
  cursor: pointer;
}

#inputPW {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

#inputPWChk {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

#condition {
  font-size: 12px;
  color: red;
}

#inputStdID {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

#inputName {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

#inputNickname {
  width: 73%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

#btnNickname {
  border: 0;
  background-color: #5C5FBA;
  color: #ffffff;
  font-size: 16px;
  width: 25%;
  height: 50px;
  line-height: 50px;
  float: right;
  cursor: pointer;
}

#inputCal {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

#inputEmail {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

.inline {
  display: inline-block;
}

.select {
  font-size: 12px;
  color: gray;
}

#inputSNS {
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 10px;
}

.red {
  color: red;
  font-size: 12px;
}

#grid {
  border: 0.3px solid #EAEAEA;
  padding: 10px;
}

.interest {
  display: inline-block;
  width: 32%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.last {
  width: 64%;
}

#etc {
  width: 190px;
  height: 30px;
  padding-left: 8px;
  margin-left: 7px;
  font-size: 16px;
}

#signIn {
  width: 100%;
  height: 50px;
  border: 0;
  background-color: #5C5FBA;
  color: #ffffff;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 745px) {
    #wrap {
      width: 100%;
    }

    #SignIn {
      width: 100%;
    }

    #btnID {
      font-size: 11px;
    }

    #btnNickname {
      font-size: 11px;
    }

    .interest {
      width: 32%;
      font-size: 12px;
    }

    .last {
      width: 64%;
    }

    #etc {
      width: 70%;
      height: 25px;
      padding-left: 5px;
      font-size: 12px;
    }
}
